# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
.venv/

# IDE / OS specific
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Log files (if you add more)
*.log
app_startup.log